DJANGO_SECRET_KEY=&4nw03cwfg10-q%kf#tg!b4q&y4wd)x(svc_^@p%#af#@#%!ge
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=*

DB_ENGINE=postgres
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=hrms
DB_USER=postgres
DB_PASSWORD=hamta21211
DB_CONN_MAX_AGE=60

HRMS_ROOT_USERNAME=root
HRMS_ROOT_PASSWORD=hamta21211
HRMS_ROOT_GROUP_NAME=Root Administrators
LOG_LEVEL=INFO

